@media screen and (min-width: 325px) {
    /* .work {
        display: none;
    } */
         .mob-soc-list {
             gap: 56px;
         }
    
         .mobile-tel-link {
             display: block;
         }
    
         .container-mobile {
             padding-right: 35px;
         }
    
         .mobile-tel-link {
             font-size: 36px;
         }
                 .footer-email {
                     width: 398px;
                 }

}

@media screen and (min-width: 428px){
    .hero{
        background-image: var(--linear-gradient),
                url(../images/fon-tablet-min.jpg);
    }
}



@media screen and (min-width: 480px) {
    .container {
        max-width: 426px;
    }
    .hero-title{
    max-width: 320px;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize
    }

        .mob-soc-list{
            gap: 56px;
        }
     .mobile-tel-link{
        display: block;
     }

     .container-mobile{
        padding-right: 35px;
     }
    .mobile-tel-link {
     font-size: 36px;    
    }
     
    .modal{
        min-height: 586px;
            width: 392px;
    }

    
    /* .container-about {
        display: none;
    } */
    /* .work {
        display: none;
    } */


}
/* 
@media screen and (max-width: 767px){
    .footer-email{
            width: 398px;
        }

} */

